// base color
$black: #212121;
$black-lighten-1: #757575;
$black-lighten-2: #bdbdbd;
$black-lighten-3: #e0e0e0;
$black-lighten-4: #fafafa;
$white: #fff;

// custom color
$green: #2913bf;
$green_lighten: #4bc5bb;
$green_darken: #14424e;
$green_accent: linear-gradient(#28a2bf, #4cc6bb);
$yellow: #fabe00;
$red: #eb5353;
